// $color-grey: #3c4c57;
// $color-blue: #36659b;
$color-primary-blue: #2574ab;
$color-secondary-blue: #5bc0de;
$color-secondary-blue-dark: #1c7781;
$font-color-light: #818da7;
$font-color-dark: #505b72;
$color-white: #f2f2f2;
$table-background-blue: #f0f1f4;
